<p class="display-4">Add Pet</p>
<hr>

<% if flash[:pet_errors] %>
  <% flash[:pet_errors].each do |error| %>
    <p style='color: red;'><%= error %></p>
  <% end %>
<% end %>

<%= form_for @pet do |f| %>
  <div class="form-group">
  <%= f.label :name, class: 'form-text text-muted'%>
  <%= f.text_field :name, class: 'form-text text-muted' %>
  </div>

  <div class="form-group">
  <%= f.label :age, class: 'form-text text-muted' %>
  <%= f.text_field :age, class: 'form-text text-muted' %>
  </div>

  <div class="form-group">
  <%= f.label :animal_type, class: 'form-text text-muted' %>
  <%= f.text_field :animal_type, class: 'form-text text-muted' %>
  </div>

  <div class="form-group">
  <%= f.label :breed, class: 'form-text text-muted' %>
  <%= f.text_field :breed, class: 'form-text text-muted' %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id%>

  <%= f.submit class: 'btn btn-primary btn-lg' %> 
  
<% end %>
