<h1 class="display-1">Welcome <%= @customer.name %> </h1>

<%= link_to "View Pets", customer_user_pets_path, class: 'btn btn-success btn-lg' %>
<br>
<br>
<%= link_to "View my visits", user_visits_path, class: 'btn btn-success btn-lg' %>
<br>
<br>
<%= link_to "Schedule a visit", new_visit_path, class: 'btn btn-success btn-lg' %>
<br>
<br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout' class="btn btn-danger btn-lg">
<% end %>
