<p class="display-4">Visits</p>
<%= link_to "Back", customer_user_path(@user), class: 'btn btn-primary btn-lg' %>
<hr>
<% if @visits.empty? %>
  <p>You have no visits. Please schedule one!</p>
<% else %>
  <% @visits.each do |visit| %>
      <p>Pet: <%= visit.pet.name %></p>
      <p>Days: <%= visit.days %></p>
      <p>Kennel: <%= visit.kennel.name %> </p>
      <p>Address: <%= visit.kennel.address %> </p>
    <hr>
  <% end %>
<% end %>

