<h1 class="display-1"><%= @kennel.name %></h1>

<h3><%= link_to "View Dens", kennel_dens_path, class: 'btn btn-success btn-lg'%></h3>

<p> Address: <%= @kennel.address %><p>
<p> Rate: $<%= @kennel.rate %><p>
<p> Capacity: <%= @kennel.capacity %> pets<p>
<hr>
<h3><%= link_to "Edit", edit_kennel_path, class: 'btn btn-primary btn-lg'%><h3>

<h3><%= link_to "Back", kennel_owner_user_kennels_path ,class: 'btn btn-primary btn-lg'%><h3>