<h1 class="display-1"><%= @kennel.name %></h1>

<p> Address: <%= @kennel.address %><p>
<p> Rate: <%= @kennel.rate %><p>
<p> Capacity: <%= @kennel.capacity %><p>
<hr>
<h3><%= link_to "Edit", edit_kennel_path, class: 'btn btn-primary btn-lg'%><h3>

<h3><%= link_to "Back", kennel_owner_user_kennels_path ,class: 'btn btn-primary btn-lg'%><h3>